* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    background-color: #272727;
    --color: #ff5400;
    --color-link-hover: #ffa700;
    --color-very-light: #b7b7b7;
    --color-light: #999;
    --color-medium-light: #6d6d6d;
    --color-medium: #3d3d3d;
    --color-medium-dark: #323232;
    --color-dark: #272727;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
    --hover-color: #ff5252;
    --fire-gradient: linear-gradient(10deg, #ff8000, transparent) #ff4020;
    --fire-gradient-hover: linear-gradient(190deg, #ff2020, #ff8000);
}
header {
    width: 100%;
    height: 85px;
    background-color: var(--color-medium);
}
a {
    text-decoration: none;
    color: var(--color-light);
    font-size : 15px;
}
li {
    list-style-type: none;
}
.container-header {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logo-img {
    display: flex;
    width: 20%;
    height: inherit;
    align-items: center;
    align-self: center;
}
.logo-img img {
    width: 50%;
}
.menu-top {
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
    bottom: 1.2rem;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.menu-top .topOne {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-top .topOne li a {
    color: var(--color-light);
    font-size : 15px;
}
.menu-top .bottomOne {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 2rem;
    align-items: center;
}
.cart-container {
    position: relative;
}
.cart-container .cart-icon {
    align-items: center;
    border-radius: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    position: relative;
    top: 0;
}
.icon-s {
    flex: 0 0 25px;
    height: 25px;
    width: 25px;
}
.icon-cart {
    mask-image: url(../img/icon-cart.svg);
    --webkit-mask-image: url(../img/icon-cart);
}
.icon-xs {
    flex: 0 0 28px;
    height: 20px;
    width: 2px;
    margin: 5px;
}
.icon-pc {
    background-color: #fff;
    mask-image: url(../img/icon-pc.svg);
    -webkit-mask-image: url(../img/icon-pc.svg);
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.icon-playstation, .icon-playstation-store {
    mask-image: url(../img/icon-play.svg);
    -webkit-mask-image: url(../img/icon-play.svg);
    background-color: #fff;
}
.icon-playstation, .icon-playstation-4, .icon-playstation-store {
    background-color: #fff;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.icon-ubisoft, .icon-ubisoft-connect, .icon-xbox {
    background-color: #fff;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.icon-xbox {
    mask-image: url(../img/icon-xbx.svg);
    -webkit-mask-image: url(../img/icon-xbx.svg);
}
.icon-switch {
    background-color: #fff;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.icon-switch {
    mask-image: url(../img/icon-swt.svg);
    -webkit-mask-image: url(../img/icon-swt.svg);
    transform: scale(.8);
}
.navTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 20%;
}
.icon-bank, .icon-cart {
    background-color: #fff;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.cart-container .cart-icon .badge {
    align-items: center;
    background: var(--color);
    border-radius: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 22px;
    justify-content: center;
    left: -5px;
    min-width: 22px;
    padding: 0 6px;
    position: relative;
    top: -8px;
    z-index: 1;
}
.cart-checkout {
    display: none;
}
/*music player*/
#app-cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 430px;
    height: 100px;
    margin: 2rem 2rem;
  }
  
 /* #bg-artwork {
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    z-index: 1;
  }
  
  #bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
  }*/
  
  #player {
    position: relative;
    height: 100%;
    z-index: 3;
  }
  
  #player-track {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
  }
  
  #player-track.active {
    top: -92px;
  }
  
  #album-name {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
  }
  
  #track-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
  }
  
  #track-time {
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
  }
  
  #current-time {
    float: left;
  }
  
  #track-length {
    float: right;
  }
  
  #current-time,
  #track-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
  }
  
  #track-time.active #current-time,
  #track-time.active #track-length {
    color: #f86d92;
    background-color: transparent;
  }
  
  #s-area,
  #seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
  }
  
  #s-area {
    background-color: #ffe8ee;
    cursor: pointer;
  }
  
  #ins-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
  }
  
  #s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
  }
  
  #ins-time,
  #s-hover {
    background-color: #3b3d50;
  }
  
  #seek-bar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
  }
  
  #player-content {
    position: relative;
    height: 100%;
    background-color: #101010;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
  }
  
  #album-art {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px var(--color-dark);
    border-radius: 50%;
    overflow: hidden;
  }
  
  #album-art.active {
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
  }
  
  #album-art:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
  }
  
  #album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }
  
  #album-art img.active {
    opacity: 1;
    z-index: 1;
  }
  
  #album-art.active img.active {
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
  }
  
  @keyframes rotateAlbumArt {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  #buffer-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
  }
  
  #album-art img,
  #buffer-box {
    transition: 0.1s linear all;
  }
  
  #album-art.buffering img {
    opacity: 0.25;
  }
  
  #album-art.buffering img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  #album-art.buffering #buffer-box {
    opacity: 1;
  }
  
  #player-controls {
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
  }
  
  .control {
    width: 33.333%;
    float: left;
    padding: 12px 0;
  }
  
  .button {
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: var(--color-medium-dark);
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button i {
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
  }
  
  .button,
  .button i {
    transition: 0.2s ease all;
  }
  
  .button:hover {
    background-color: #d6d6de;
  }
  
  .button:hover i {
    color: #fff;
  }

/*music player end*/